<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f9f9f9; /* Cambié el fondo a un gris claro */
            font-family: 'Roboto', sans-serif;
            color: #555; /* Cambié el color del texto a un gris más oscuro */
        }

        h2 {
            font-family: 'Montserrat', sans-serif;
            color: #6c757d; /* Cambié el color del título a un gris pastel */
            font-size: 2rem;
            margin-bottom: 20px;
            text-align: center;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        }

        .container {
            padding: 20px;
            margin-top: 50px;
        }

        .table {
            background-color: #fff; /* Fondo blanco */
            border: 1px solid #e9ecef; /* Borde delgado en un tono claro */
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .table th {
                background-color: #f2f9fb; /* Nuevo color pastel para encabezados */
                color: #555; /* Texto gris oscuro */
                position: sticky;
                top: 0;
                z-index: 1;
            }

            .table td {
                background-color: #ffffff; /* Fondo blanco */
                color: #555; /* Texto gris oscuro */
            }

            .table tbody tr:hover {
                background-color: #f7f7f7; /* Cambié el color de fondo en hover */
            }

        .table-bordered {
            border: none; /* Quité los bordes */
        }

        .table-hover tbody tr:hover td {
            background-color: #f7f7f7; /* Cambié el color de fondo en hover */
        }

        .table td:hover {
            color: #555; /* Texto gris oscuro en hover */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Estadísticas de las tareas</h2>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Iniciativa</th>
                    <th>Tareas Totales</th>
                    <th>Tareas Completadas</th>
                    <th>Porcentaje Completado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreIniciativa</td>
                        <td>@item.TareasTotales</td>
                        <td>@item.TareasCompletadas</td>
                        <td>@item.PorcentajeCompletado.ToString("0.##")%</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
