@model GestionDeIniciativas.Models.BloqueTiempo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BloqueTiempo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Año)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Año)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarea.TareaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TiempoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
