@model GestionDeIniciativas.Models.BloqueTiempo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BloqueTiempo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Año)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Año)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarea.TareaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TiempoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
